<h1>{{ district_name }} Representatives</h1>
<h2>Senators:</h2>
<p>
{{ sen_1_name }} - {{ sen_1_phone }} - {{ sen_1_party }}
<br>
{{ sen_2_name }} - {{ sen_2_phone }} - {{ sen_2_party }}
</p>
<h2>Representative:</h2>
<p>
{{ rep_name }} - {{ rep_phone }} - {{ rep_party }}
</p>
